.modalPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modalPopup.active {
    opacity: 1;
    pointer-events: all;
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 12px;
    background-color: #cccccc;
    height: 300px;
    width: 300px;
    cursor: default;
}

.modalContent button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}