.phonePageContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    position: relative;
}

.phoneInputBlockContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.phoneInputBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phoneInput {
    padding: 10px;
    font-size: 30px;
    border: 1px solid;
    border-radius: 5px;
}

.buttonsBlock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    margin-top: 20px;
}

.phoneNumberButton {
    margin: 10px;
    width: 60px;
    padding: 10px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.activePhoneNumberButton {
    margin: 10px;
    width: 60px;
    padding: 10px;
    font-size: 25px;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton {
    margin: 10px;
    width: 140px;
    height: 55px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.activeDeleteButton {
    margin: 10px;
    width: 140px;
    height: 55px;
    font-size: 25px;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
}

.checkboxContainerStyle {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}

.activeCheckboxContainerStyle {
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    cursor: default;
}
.activeCheckboxContainerStyle input {
    cursor: pointer;
}

.offerAndCanselBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EDEDED;
    padding: 0 15px;
    width: 50%;
}

.offerAndCanselButtonsContainer {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.imgContainer{
    width: 500px;
}
.imgContainer img {
    margin-top: 100px;
    width: 100%;
}

.offerButton {
    width: 100%;
    height: 52px;
    border: 2px solid;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
}

.activeOfferButton {
    width: 100%;
    height: 52px;
    font-size: 20px;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.backButton {
    height: 52px;
    margin-top: 15px;
    width: 100%;
    border: 2px solid;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
}
.activeBackButton {
    height: 52px;
    margin-top: 15px;
    width: 100%;
    font-size: 20px;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}