.phonePageContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #01355F;
}

.phoneInputBlockContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.phoneInputBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phoneInput {
    padding: 10px;
    font-size: 30px;
    border: 1px solid;
    border-radius: 5px;
}

.buttonsBlock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    margin-top: 20px;
}

.phoneNumberButton {
    margin: 10px;
    width: 60px;
    padding: 10px;
    font-size: 25px;
    border: 2px solid #EDEDED;
    background-color: #EDEDED;
    color: #01355F;
    border-radius: 5px;
    cursor: pointer;
}

.activePhoneNumberButton {
    margin: 10px;
    width: 60px;
    padding: 10px;
    font-size: 25px;
    color: #EDEDED;
    border: 2px solid #EDEDED;
    background-color: #01355F;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton {
    margin: 10px;
    width: 140px;
    height: 55px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.activeDeleteButton {
    margin: 10px;
    width: 140px;
    height: 55px;
    font-size: 25px;
    color: #EDEDED;
    border: 2px solid #01355F;
    background-color: #01355F;
    border-radius: 5px;
    cursor: pointer;
}

.checkboxContainerStyle {
    padding: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #EDEDED;
}

.checkboxContainerStyle input {
    width: 30px;
    height: 30px;
    margin-right: 10px;

}

.activeCheckboxContainerStyle {
    background-color: #01355F;
    color: #EDEDED;
    padding: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.activeCheckboxContainerStyle input {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.offerAndCanselBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EDEDED;
    padding: 0 15px;
    width: 50%;
}

.offerAndCanselButtonsContainer {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.imgContainer {
    width: 500px;
}

.imgContainer img {
    margin-top: 100px;
    width: 100%;
}

.offerButton {
    width: 100%;
    height: 52px;
    border: 2px solid;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
}

.activeOfferButton {
    width: 100%;
    height: 52px;
    font-size: 20px;
    color: #EDEDED;
    border: 2px solid #01355F;
    background-color: #01355F;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.backButton {
    height: 52px;
    margin-top: 15px;
    width: 100%;
    border: 2px solid #01355F;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
}

.activeBackButton {
    height: 52px;
    margin-top: 15px;
    width: 100%;
    font-size: 20px;
    color: #EDEDED;
    border: 2px solid #01355F;
    background-color: #01355F;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.modalContentInfoBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #01355F;
}
.submitPopupButton {
    width: 140px;
    height: 55px;
    font-size: 25px;
    color: #01355F;
    border: 2px solid #01355F;
    background-color: #EDEDED;
    border-radius: 5px;
}
.submitPopupButton:hover {
    color: #EDEDED;
    background-color: #01355F;
    cursor: pointer;
}