.swiperContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 590px;
    width: 500px;
}

.mySwiper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.swiperElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiperElement img {
    width: 500px;
    height: 500px;
}